@font-face
{
	font-family: orbitron;
	src: url("../fonts/orbitron/Orbitron-Medium.woff") format("woff");
}

@font-face
{
	font-family: orbitron;
	font-weight: bold;
	src: url("../fonts/orbitron/Orbitron-Bold.woff") format("woff");
}

@font-face
{
	font-family: lato;
	src: url("../fonts/lato/Lato-Medium.woff") format("woff");
}

body
{
	background-image: url("../images/background.png");
	font-family: orbitron;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-autocomplete 
{
	font-size: 16px;
	z-index: 9999 !important;
	width: 350px;
	background-color: white;
	list-style: none;
	padding-left: 15px;
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-state-focus
{
	font-style: italic;
	font-weight: bolder;
}

.ui-helper-hidden-accessible
{
	display: none;
}

.ui-autocomplete-category 
{
    font-weight: bold;
	margin-left: -10px;
    line-height: 1.5;
}

#header
{
	background-image: url("../images/background.png");
	position: fixed;
	min-width: 1200px;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 190px;
	z-index: 1;
}

#title
{
	text-align: center;
	color: maroon;
}

#eventCodeContainer
{
	width: 470px;
	margin: 0 auto;
}

#eventCodeInput
{
	font-family: lato; 
	float: left;
	width: 222px;
}

#eventCodeSubmitButton
{
	color: white;
	width: 100px;
	margin-left: 5px;
	background-color: #840204;
}

#eventCodeDownloadButton
{
	color: white;
	width: 125px;
	margin-left: 10px;
	background-color: #840204;
}

#eventOptionsContainer
{	
	position: absolute;
	width: 1200px;
	left: 50%;
  	margin-left: -600px;
	top: 125px;
}

#eventStats
{
	color: white;
	width: 125px;
	margin-left: 2px;
	background-color: dimgray;
}

#eventTeamsAttending
{
	color: white;
	width: 175px;
	margin-left: 10px;
	background-color: dimgray;
}

.oneLineText
{
	height: 21x;
	line-height: 21px;
	float: left;
	text-align: center;
}

.button:hover
{
	opacity: 0.75;
	cursor: pointer;
}

.button:active
{
	opacity: 0.5;
}

.deactiveButton
{
	opacity: 0.625;
}

/* Table */
.lightGray
{
	background-color: rgb(222, 222, 222);
}

.gray
{
	background-color: rgb(204, 204, 204);
}

.darkGray
{
	background-color: #dfdfdf;
}

.tableContainer
{
	width: 1200px;
	position: absolute;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}

.rowTable
{
	position: absolute;
	width: 200px;
	left: 0;
}

.contentTable
{
	position: absolute;
	width: 1000;
	right: 0;
}

#headerTableContainer
{
	top: 150px;
}

#dataTableContainer
{
	font-family: lato; 
	margin-top: 185px;
}

#headerTable
{
	
}

#dataTable
{
	
}

.tableSearchQuery
{
	
}

.table
{
/*	border-collapse: collapse*/
}

.tableRow
{
	text-align: center;
}

.tableCell
{
/*	width: 133.33px;*/
	height: 30px;
	font-size: 12px;
}

.tableCellHeader
{
	font-weight: bold;
	font-size: 14px;
}